<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Submission Failed</title>
  <link rel="stylesheet" href="/css/error.css">
  
</head>
<body>
   
 

  <div class="error-container">
    <div class="error-animation">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="cross">✖</span>
    </div>

    <h1>Oops! Something went wrong</h1>
    <p>
      Your message could not be sent.<br>
      Please try again in a moment.
    </p>

    <a href="/home#contact" class="btn">Go Back</a>
  </div>

<!-- Footer -->
  <footer class="footer" style="position: fixed; bottom: 0; width: 100%; height: auto;">
    <div class="container">
      <p>&copy; 2025Ayush Patel. All rights reserved.</p>
      <p>Crafted with 💖 and precision</p>
    </div>
  </footer>



</body>
</html>
